{% extends 'base.html' %}
<div class="row">
    <div class="col-sm-12">
        {% block content %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="block">
                        <a href="{% url 'tasks:create' %}" class="badge badge-light mb-2">
                            <h3>Add Task</h3>
                        </a>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in object_list %}
                                    <tr>
                                        <th scope="row">
                                            <a class="badge badge-danger" 
                                                href="{% url 'tasks:delete' item.id %}">
                                                X
                                            </a>
                                        </th>
                                        <td>
                                            <h4>
                                                <a class="badge badge-primary" 
                                                href="{% url 'tasks:update' item.id %}">
                                                    Edit
                                                </a>
                                            </h4>
                                        </td>
                                        <td>
                                            <h4>
                                                {{item.name}}
                                            </h4>
                                        </td>
                                        <td><h4>{{item.get_status}}</h4></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
